.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    cursor: pointer;
    overflow: hidden;   //Para que no sobresalgan elementos x fuera de la card

    &-main {
      width: 250px;
      height: 250px;
      background-color: #ff0000;
      color: #ffffff;
      padding: 15px;
      position: relative;
      border-radius: 50%;
      transition: 0.5s;

      &--logoclose {
        width: 230px;
        height: 230px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;   //top, bottom, left, right, margin para que logo centrado en x & y
        opacity: 1;
        overflow: visible;
        cursor: pointer;
        transition: 0.5s;
      }

      &--open{
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_logoopen{
          transform: translateX(20px);
        }
      }
      &--open,
      &--open>* {
        opacity: 0;
        overflow: hidden;
      }

    }
    //! Similar a la aplicación de hover, se coloca la clase sobre el elemento padre, en este
    //! caso container__card y de ahí en adelante aplicar los estilos a los elementos hijos
    //! que se quieran cambiar, aprovecando el nesting de Sass
    &.display &-main {
      width: 80vw;    //! Importante colocar un valor en width y heigh para que haga bien
      height: 95vh;   //! la animación de agrando de la tarjeta
      border-radius: 10px;
      box-shadow: 20px 20px 60px inset #e90000,
        -20px -20px 60px inset #da0000;
      transition: 0.5s 0.5s;  //Recuerde que el 2° valor es RETARDO

      &--logoclose {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        transform: rotate(360deg);
      }

      &--open {
        width: 100%;
        height: 100%;
        opacity: 1;
        overflow: visible;

        &_info {
          height: 100%;
          opacity: 1;
          overflow: visible;
          transition: 0.5s 1s;

          &--text{
            font-size: 0.8em;
          }

          &--button {
            padding: 5px 10px;
            margin: 10px 0;
            border: none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
          }
        }

        &_logoopen {
          width: 50vw;
          height: 100%;
          transform: translateX(0);
          opacity: 1;
          overflow: visible;
          transition: 0.5s 1.3s cubic-bezier(0,-0.54,0.5,2);
        }
      }

      @media screen and (min-width: 600px) {

        &--open{
          flex-direction: row;

          &_info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            &--text{
              align-items: center;
              font-size: 1em;
            }
          }
        }
        
      }

    }

  }
}

/*
PARA DESAPARECER UN ELEMENTO:
elemento{
  height: 0;    <----Dependiendo, a veces solamente se pone width
  width: 0;
  opacity: 0;
  overflow: hidden;
}

PARA APARECER UN ELEMENTO:
elemento{
  width: 100%;
  height: 100%;   <----Si se colocó height: 0 en desaparición, se debe colocar
  opacity: 1;
  overflow: visible;
}

