
.container {
  display: flex;
  justify-content: center;
  &__card {
    width: 250px;

    &--logoclose {
      width: 100%;
      background-color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
      }
    }
    &--content{

      &-left{

        &_button{

        }
      }

      &-logoopen{
        width: 250px;
      }
    }
  }
}